@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* COLORS */
  --c-white: #ffffff;
  --c-beige: #edeae3;
  --c-dark-grey: #9c8c8c;
  --c-dark-blue: #1f2244;
  --c-orange: #ff5e55;
  --c-green: #119383;
  --c-grey: #1f224433;

  /* FONT SIZES */
  --fs-12: 0.75rem;
  --fs-16: 1rem;
  --fs-24: 1.5rem;

  /* SPACING  */
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-32: 2rem;

  /* OTHERS */
  --content-max-width: 77.5rem;
  --fw-bold: 700;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--c-dark-blue);
  line-height: 1.25;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
